@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Mono:300,400|Roboto|Montserrat:400,700|PT+Serif');

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "PT Serif", serif;
}

h1 {
    color: rgb(26, 26, 26);
    font-family: "Oswald", sans-serif;
}

h2 {
    font-family: "Montserrat", "Roboto Mono", sans-serif;
    color: rgb(50, 50, 50);
}

.a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: #8f8e8e;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.a:hover {
    color: rgb(30,30,30);
}

#link-selected {
    color: rgb(30,30,30);
    font-weight: 900;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: #8f8e8e;
    border-bottom: 0px solid rgb(230,50,39);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    padding-bottom: 5px;
}

a:hover {
    border-width: 5px;
    padding-bottom: 0px;
    color: #1653b7;
}


.nav {
    width: 100vw;
    height: 50px;
    background-color: rgba(254, 254, 254, 1);
    box-shadow: 0px 1px 1px rgba(30, 30, 30, 0.2);
    top: 0;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    z-index: 1000;
}

.nav-scrolled {
    box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.4);
}

.alert {
    padding: 0px 10px 0px 10px;
    display: inline-block;
    text-align: center;
    width: auto;
    height: 50px;
    position: absolute;
    background-color: rgb(253, 198, 57);
    right: calc(170px + 23vw);
    transition-duration: 0.2s;
}

.alert p {
    color: white;
    font-family: "Roboto";
}

.alert:hover {
    background-color: rgb(241, 187, 50);
}

#nav-link-selected {
    border-width: 5px;
    padding-bottom: 0;
    color: #1653b7;
}

.nav-links a {
    display: inline-block;
    margin: 13px 0 0 3vw;
}

.nav-links {
    float: right;
    margin-right: 10vw;
}

#nav-logo {
    display: inline-block;
    width: auto;
    height: 25px;
    margin-left: 10vw;
    margin-top: 14px;
    transition-duration: 0.2s;
}

#nav-logo:hover {
    opacity: 0.5;
}

#main-logo {
    width: 50vw;
    height: auto;
    margin-top: 30px;
}

.title-image {
    width: 50vw;
    height: auto;
    margin-bottom: 10px;
}

.nav h1 {
    margin: 10px;
}

.select-style select {
    font-size: 15px;
    cursor: pointer;
    padding: 5px 8px;
    width: 110%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style {
    cursor: pointer;
    width: 150px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    padding: 0;
    display: inline-block;
    margin-bottom: 5px;
    background-color: white;
    background: #fff url("icon-select.svg") no-repeat 90% 50%;
    background-size: 10px 20px;
    border: 2px solid rgb(240, 240, 240);
    transition-duration: 0.2s;
}

.select-style:hover {
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 4px 5px rgba(160, 160, 160, 0.5);
}

.select-style:active {
    box-shadow: none;
}

.select-style select:focus {
    outline: none;
}

.main-page {
    margin-top: 10px;
    width: 85vw;
    margin-left: 7.5vw;
    text-align: center;
}

.header h1 {
    text-align: center;
}

.header {
    padding-top: 20px;
    text-align: center;
}

.header p {
    font-family: "Roboto";
    margin: 10px;
    font-size: 14px;
    display:inline-block;
}

#reset-link {
    font-size: 13px;
    cursor: pointer;
    color: rgb(114, 90, 202);
    text-decoration: underline;
}

#reset-link:hover {
    color: rgb(140, 122, 202);
}

.overall-section {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.overall-section p {
    font-family: "Roboto";
}

#darkener {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    top: 0;
    left: 0;
    transition-duration: 0.2s;
}

.total-percentages {
    margin-left: 17.5vw;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: -35px;
    margin-bottom: 30px;
}

.upper-lower {
    display: flex;
    margin-left: 17.5vw;
    width: 50vw;
    justify-content: space-between;
    align-content: flex-start;
}


.dem-percentages p, .rep-percentages p {
    margin-top: -20px;
}

.big-p {
    font-size: 17px;
    margin-top: -47px;
}

.medium-p {
    font-size: 16px;
    margin-top: -27px;
}

.total-percentages h2 {
    padding: none;
    margin: none;
}

.big-h2 {
    margin-top: -10px;
    font-size: 50px;
}

.medium-h2 {
    margin-top: 0px;
    font-size: 30px;
}

#card-popup {
    text-align: center;
    position: fixed;
    z-index: 10000;
    margin: none;
    padding: none;
}

.seat-square {
    display: inline-block;
    cursor: crosshair;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 2.5px solid rgba(0, 0, 0, 0);
    margin: 3px;
    font-family: "Roboto Mono";
    color: white !important;
    font-size: 11.5px;
}

.seat-square:hover {
    border: 2.5px solid rgb(41, 41, 41);
}

.squares-section {
    margin-top: 30px;
    margin-bottom: 10px;
}

#instructions {
    font-size: 14px;
    margin-top: -13px;
    margin-bottom: 2px;
}

.squares {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    align-content: center;
}

.squares-column {
    display: inline-block;
}

#even {
    font-size: 14px;
    color: #A1A1A1;
    margin-top: -6px;
}

#even-triangle {
    width: 14px;
    height: auto;

}

.main-section {
    margin-top: 20px;
    text-align: center;
}

.top-races {
    margin-top: 40px;
    text-align: center;
}

.all-races {
    margin-top: 40px;
    text-align: center;
}

.predictions-links {
    transition-duration: 0.2s;
    height: 44px;
    margin-left: 0;
    width: 100vw;
    text-align: center;
    background-color: white;
}

.predictions-links a {
    display: inline-block;
    margin: 10px;
}

.predictions-nav-scrolled {
    border-radius: 0 0 30px 30px;
    width: 100vw;
    box-shadow: 0px 2px 8px rgba(30, 30, 30, 0.4);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.main-page-scrolled {
    margin-top: 80px;
}

#predictions-nav-hr {
    margin-bottom: 5px;
    transition-duration: 0.2s;
    width: 80%;
}

.hr-invisible {
    opacity: 0;
    display: none;
}

.tight-elections {
    margin-bottom: 40px;
}

.election-card {
    height: 150px !important;
    width: 250px !important;
    cursor: pointer !important;
}

.purple.election-card:hover {
    background-color: #d7affa;
}

.lean-red.election-card:hover {
    background-color: #f7bab1;
}

.lean-blue.election-card:hover {
    background-color: #bbd1f7;
}

.likely-red.election-card:hover {
    background-color: #f79688;
}

.likely-blue.election-card:hover {
    background-color: #a5c5f8;
}

.solid-blue.election-card:hover {
    background-color: #8db6f7;   
}

.solid-red.election-card:hover {
    background-color: #fc7863;
}

.election-card h3 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    margin-top: -10px;
    margin-bottom: 0px;
    padding: 0px;
}

.election-card p {
    font-weight: normal !important;
}

.election-link {
    text-decoration: none;
}

.election-card .no-margin {
    font-size: 17px;
    margin-top: -5px !important;
}

.prediction-card {
    height: 275px;
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    vertical-align: top;
    box-shadow: 0 2px 3px rgba(50,50,50, 0.5);
    position: relative;
    cursor: crosshair;
}

.prediction-card:hover {
    box-shadow: 0 4px 8px rgba(50,50,50, 0.5);
}

.solid-blue, .solid-blue h2, .already-blue, .already-blue h2 {
    background-color: #a0c3fa;
    color: #4483e7;
}

.likely-blue, .likely-blue h2 {
    background-color: #c0d7fd;
    color: #4483e7;
}

.lean-blue, .lean-blue h2 {
    background-color: #d0def7;
    color: #4483e7;
}

.solid-red, .solid-red h2, .already-red, .already-red h2 {
    background-color: #fc8a78;
    color: #e4371d;
}

.likely-red, .likely-red h2{
    background-color: #fcb2a7;
    color: #e4371d;
}

.lean-red, .lean-red h2 {
    background-color: #fccfc8;
    color: #e4371d;
}

.purple, .purple h2 {
    background-color: #e1c1fc;
    color: #a145ec;

}

.prediction-card h1 {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    font-size: 23px;
}

.prediction-card h2 {
    background-color: white;
    padding: 0px 5px;
    display: inline-flex;
    border-radius: 2px;
    font-family: "Roboto Mono",monospace;
    margin-top: 0;
    font-size: 13px;
}

.prediction-card p {
    text-align: center;
    font-size: 13px;
    color: white;
    margin: 13px 15px 5px 15px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.blue {
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    color: #4483e7;
}

.red {
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
    color: #e4371d;
}

.white {
    color: white;
}

.gray {
    color: gray !important;
}

.yellow {
    color: rgb(244, 193, 68);
}

.incumbent {
    border-radius: 1px;
    margin-left: 5px;
    font-style: italic;
    display: inline-block;
    padding: 2px 6.5px 2px 5px;
    background-color: rgb(255, 255, 255);
}

table .incumbent {
    font-weight: bold;
    background-color: rgb(238, 238, 238);
}

table h2 {
    margin-top: 9px;
    color: white !important;
    padding: 0px 5px;
    display: inline-flex;
    border-radius: 2px;
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
}

.squares .already-blue {
    background-color: #d3e1f8;
}

.squares .already-red {
    background-color: #fdd4ce;
}

table .solid-blue, .squares .solid-blue {
    background-color: #4581e0;
}

table .likely-blue, .squares .likely-blue {
    background-color: #6e9fee;
}

table .lean-blue, .squares .lean-blue {
    background-color: #a9c5f5;
}

table .solid-red, .squares .solid-red {
    background-color: #e4371d;
}

table .likely-red, .squares .likely-red {
    background-color: #f36d58;
}

table .lean-red, .squares .lean-red {
    background-color: #faa396;
}

table .purple, .squares .purple {
    background-color: #c885ff;
}

.bold {
    font-weight: 900;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

.display-none {
    display: none;
}

.pill-full {
    border-radius: 18px 18px 18px 18px !important;
}

.pill-none {
    display: none;
}

.pill-right {
    height: 25px;
    border-radius: 0 18px 18px 0;
    background-color: #e4371d;
    display: inline-block;
    border: 2px solid white;
    margin-left: -1px;
    vertical-align: top;
}

.pill-right:hover {
    background-color: #e2543e;
}

table .pill-right {
    border-color: black;
    border-width: 1px;
}

.pill-left {
    height: 25px;
    border-radius: 18px 0 0 18px;
    background-color: #4483e7;
    display: inline-block;
    border: 2px solid white;
    margin-right: -2px;
    vertical-align: top;
}

.pill-left:hover {
    background-color: #568ce2;
}

table .pill-left {
    border-color: black;
    border-width: 1px;
}

.pill-third {
    height: 25px;
    border-radius: 0px 0 0 0px;
    background-color: rgb(244, 193, 68);
    display: inline-block;
    border: 2px solid white;
    margin-right: -1px;
    vertical-align: top;
}

.pill-third-right {
    border-radius: 0 18px 18px 0 !important;
}

.pill-third-left {
    border-radius: 18px 0 0 18px !important;
}

table .pill-third {
    border-color: black;
    border-width: 1px;
}

.pill-third:hover {
    background-color: rgb(243, 206, 113);
}

.pill-left p {
    font-size: 13px;
    margin-top: 3px !important;
    color: white !important;
}

.pill-right p {
    font-size: 13px;
    margin-top: 3px !important;
    color: white !important;
}

#updated {
    text-align: right !important;
    font-size: 12px;
    color: gray;
    margin-right: 10vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.number {
    font-family: "Roboto Mono", monospace !important;
}

#vote-share {
    margin-top: -2px !important;
}

table p {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
}

th {
    font-family: "Roboto", sans-serif !important;
}

td {
    cursor: crosshair;
}

label {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.dataTables_filter {
    float: none !important;
    text-align: center !important;
    margin-bottom: 10px;
    height: 50px !important;
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: normal !important;
    text-align: left !important;
    all:unset;
    display:inline-block;
    width: 225px;
    background-color: white;
    cursor: text;
    border-radius: 5px;
    margin-left: 5px;
    color: gray;
    border: 2px solid rgb(240, 240, 240);
    padding: 5px;
    transition-duration: 0.2s;
}

input:hover {
    background-color: rgb(240, 240, 240);
}

input:focus {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 0px 4px 5px rgba(160, 160, 160, 0.5);

}

#error-p {
    padding-top: 30px;
}

#address-input {
    width: 300px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif !important;
    padding: 10px !important;
}

.button {
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    padding: 10.5px;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    transition-duration: 0.2s;
    margin: 20px 5px 0px 5px;
}

.button-bold {
    border-color: rgb(253, 198, 57) !important;
    background-color: rgb(255, 232, 175) !important;
}

.button-bold:hover {
    border-color: rgb(255, 208, 90) !important;
    background-color: rgb(255, 208, 90) !important;
}

.normal-link {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.normal-link:hover {
    color: rgb(19, 19, 19);
}

.button:hover {
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 4px 5px rgba(160, 160, 160, 0.5);
}

.button:active {
    box-shadow: none;
}

#load-more-button {
    margin-top: 30px;
}

.dataTables_info {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(156, 156, 156) !important;
}

.dataTables_empty {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.text {
    font-size: 17px;
    padding-top: 30px;
}

.text p {
    padding: 10px;
    text-align: left !important;
}

.text a {
    color: rgb(91, 61, 201);
    text-decoration: none;
    transition-duration: 0.1s;
}

.twitter {
    color: #00aced !important;
}

.text a:hover {
    background-color: rgb(233, 233, 233)
}

.how-it-works {
    margin-top: 50px;
    text-align: center;
}

.how-it-works a {
    font-family: "Roboto";
    color: rgb(91, 61, 201);
    text-decoration: none;
    transition-duration: 0.1s;
}

.how-it-works a:hover {
    background-color: rgb(233, 233, 233)
}

#live-blog {
    width: 100vw !important;
}

#live-blog > div {
    margin-left: 25% !important;
    width: 50% !important;
}

#live-blog {
    font-family: "Roboto" !important;
}

#live-blog p {
    font-family: "Roboto" !important;
}

.lb24-base-news-title-text {
    font-family: "Roboto" !important;
}

.lb24-base-news-date, .lb24-base-news-editor-name {
    font-family: "Roboto Mono" !important;
}

#live-blog-frame {
    width: 50%;
}

#projections-pane {
    position: absolute;
    right: 30px;
    top: 400px;
}

.footer {
    margin-top: 100px;
    height: 75px;
    background-color: rgb(245,245,245);
    padding-top: 38px;
}

.footer p {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
}

#top-button {
    opacity: 0; /* Hidden by default */
    width: 64px;
    font-family: "Roboto";
    height: 50px;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(247, 247, 247); /* Set a background color */
    color: rgb(15, 15, 15); /* Text color */
    cursor: default; /* Add a mouse pointer on hover */
    border-radius: 27px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0 1px 2px rgba(50,50,50, 0.5);
    transition-duration: 0.2s;
}

.top-button-scrolled {
    opacity: 1 !important;
    cursor: pointer !important;
}

#top-button:hover {
    background-color: rgb(238, 238, 238); /* Set a background color */
    box-shadow: 0 3px 8px rgba(50,50,50, 0.5);

}

#top-button:active {
    background-color: rgb(247, 247, 247); /* Set a background color */
}

.main-page-news {
    margin-top: 40px;
    width: 50vw;
    margin-left: 25vw;
}

.article {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: rgb(240, 240, 240);
    padding: 30px;
}

.article-title {
    font-weight: bold;
    text-align: left;
    font-family: "Montserrat", "Roboto";
    border-bottom: 4px solid rgb(230,50,39);
}

.article-author {
    font-size: 15px;
    color: rgb(121, 121, 121);
    font-family: "Roboto Mono";
}

.author {
    color: rgb(39, 39, 39);
}

.article-text {
    font-size: 17px;
    color: rgb(29, 29, 29);
    margin-top: 30px;
    font-weight: normal;
}

.article-text a {
    color: rgb(91, 61, 201);
    text-decoration: none;
    transition-duration: 0.1s;
}

.article-text a:hover {
    background-color: rgb(218, 216, 216)
}

.dot {
    height: 9px;
    width: 9px;
    background-color: rgb(148, 148, 148);
    border-radius: 50%;
    display: inline-block;
  }

  .dot-green {
    height: 9px;
    width: 9px;
    background-color: rgb(82, 206, 82);
    border-radius: 50%;
    display: inline-block;
  }

  .dot-purple {
    height: 9px;
    width: 9px;
    background-color: rgb(186, 105, 233);
    border-radius: 50%;
    display: inline-block;
  }

  .IL_BASE {
      margin-top: 40px !important;
      display: block !important;
  }

  @media only screen and (max-width: 700px) {

  }

  @media only screen and (max-width: 600px) {

    #nav-logo {
        margin: none;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        height: 80px;
        text-align: center;
    }

    .nav-links {
        float: none;
        margin-right: 0px;
    }

    .nav-links a {
        margin: 13px 1.5vw 0 1.5vw;
    }

    .alert {
        padding: 0px;
        width: 90%;
        margin: 0px;
        margin-left: 5vw;
        height: 30px;
        left: 0vw;
        top: 105px;
    }

    .alert p {
        margin-top: 6px;
    }

    .predictions-links {
        height: 80px;
    }

    .predictions-links a {
        margin-bottom: 0px;
    }

    .predictions-nav-scrolled {
        border-radius: 0;
    }

    .main-page {
        width: 90vw;
        margin-left: 5vw;
    }

    .main-page-scrolled {
        margin-top: 116px;
    }

    .big-h2 {
        font-size: 45px;
    }

    .medium-h2 {
        font-size: 27px;
    }

    .big-p {
        font-size: 15px !important;
        margin-top: -43px;
    }

    .medium-p {
        font-size: 14px;
        margin-top: -25px;
    }

    .dem-percentages p, .rep-percentages p {
        font-size: 13px;
    }

    .total-percentages {
        margin-left: 5vw;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #updated {
        text-align: center !important;
        margin-right: 0px;
    }

    .title-image {
        width: 90vw;
    }

    .main-page-news {
        width: 90vw;
        margin-left: 5vw;
    }

    .article-text {
        font-size: 20px;
    }

    .text {
        font-size: 20px;
    }

    #top-button {
        display: none;
    }

    li {
        margin-top: -10px !important;
    }

    #live-blog > div {
        margin-left: 5% !important;
        width: 90% !important;
    }

    #live-blog-frame {
        width: 90% !important;
    }

    #projections-pane {
        display: none;
    }

}