@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
}

a {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: #4286f4;
    border-bottom: 0px solid #ee3233;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    padding-bottom: 5px;
}

a:hover {
    border-width: 5px;
    padding-bottom: 0px;
    color: #1653b7;
}

#link-selected {
    border-width: 5px;
    padding-bottom: 0;
    color: #1653b7;
}

.nav a {
    display: inline-block;
    margin: 2.5vh 3.5vh 2.5vh 3.5vh;
}

.nav-links {
    float: right;
    margin-right: 10vw;
}

.nav-title {
    display: inline-block;
    margin-left: 10vw;
}

.nav h1 {
    margin: 1vh;
}

.nav {
    width: 100vw;
    height: 10vh;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 1px 1px rgba(30, 30, 30, 0.2);
    position: fixed;
    top: 0;
}

.main-page {
    margin-top: 15vh;
    width: 80vw;
    margin-left: 10vw;
}

.main-page h1 {
    text-align: center;
}

.main-section {
    margin-top: 5vh;
}
